
.switch {
  position: relative;
  width: 121px;
  height: 40px;
  border-radius: 25px;
  top: 16px;
}

.checkbox {
  visibility: hidden;
}

input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: -internal-light-dark(black, white);
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  background-color: -internal-light-dark(rgb(255, 255, 255), rgb(59, 59, 59));
  cursor: text;
  margin: 0em;
  font: 400 13.3333px Arial;
  padding: 1px 2px;
  border-width: 2px;
  border-style: inset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
}

.checkbox:checked + .checkbox-label {
  right: 82px;
}
.checkbox-label {
  display: block;
  z-index: 1;
  position: absolute;
  width: 38px;
  height: 38px;
  top: 1px;
  right: 1px;
  background: white;
  border-radius: 50%;
  border: 1px solid #F6F5FA;
  box-sizing: border-box;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.38);
  transition: all 0.2s ease;
  cursor: pointer;
}

.none {
  display: none;
}

.play {
  right: 20px;
}

.train, .play {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 17px;
  color: white;
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  top: 12px;
}

.train, .play {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: white;
  position: absolute;
  z-index: 10;
  text-transform: uppercase;
  top: 12px;
}

.switch-bg {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #FFBC29;
  box-shadow: inset 1px -1px 2px 1px rgba(53, 52, 52, 0.28), inset 0px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
}

.checkbox:checked ~ .switch-bg {
  background: #7033FF;
}
