/* Background colors */
$color-header-background:#FFFFFF;
$color-our-friends-background: #F6F6F6;
$color-our-friends-card-background: #FAFAFA;

/* Buttons colors */
$color-button: #F1CDB3;
$color-button-active-border: #F1CDB3;
$color-button-disabled-border: #CDCDCD;
$color-button-background: #FFFFFF;;
$color-border-active: #FDDCC4;

/* Border colors */
$color-border: #000000;

/* Links colors */
$color-link-underline: #F1CDB3;

/* Text colors */
$color-text: #545454;
$color-active: #292929;

/* Footer colors */
$color-contacts: #F1CDB3;
$color-title: #FFFFFF;

/* Content width */
$content-width: 1200px;

/* Device sizes */
$tablet-width: 768px;
$mobile-big-width: 414px;
$mobile-middle-width: 375px;
$mobile-small-width: 320px;