.header__container {
  display: flex;
  justify-content: space-between;
}

.header__title {
  font-style: normal;
  font-weight: bold;
  font-size: 49px;
  line-height: 60px;
  color: #FFBC29;
  text-shadow: .07em 2px rgb(58, 55, 24);
  @include media-laptop {
    padding: 20px 0 0 0;
  }

  @include media-tablet {
    padding: 20px 0 0 60px;
  }

  @include media-mobileMiddle {
    padding: 20px 0 0 45px;
  }

  @include media-preMobileSmall {
    padding: 20px 0 0 45px;
  }
}