body {
  background: radial-gradient(100% 215.42% at 0%, #246579 0%, #b4babe 100%), #5f5c5e no-repeat;
  background-size: cover;
}

.switch {
  @include media-laptop {
    margin-top: 50px;
  }

  @include media-tablet {
    margin-top: 50px;
    margin-right: 59px;
  }

  @include media-mobileMiddle {
    margin-top: 50px;
    margin-right: 40px;
  }

  @include media-preMobileSmall {
    margin-top: 50px;
    margin-right: 40px;
  }
}

.burger-menu_button {
  @include media-laptop {
    margin-top: 35px;
    margin-left: 337px;
  }

  @include media-tablet {
    margin-top: 35px;
    margin-left: 33px;
  }

  @include media-mobileMiddle {
    margin-top: 38px;
  }

  @include media-preMobileSmall {
    margin-top: 38px;
  }
}